<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521640199023-64qjo07md8s369f72c9r3t1to6iqbdua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521640199023-64qjo07md8s369f72c9r3t1to6iqbdua</string>
	<key>API_KEY</key>
	<string>AIzaSyABjxs9jgpt17hj0iu2pkiqST61G4U8fOM</string>
	<key>GCM_SENDER_ID</key>
	<string>521640199023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yu-cis195.Final-Project</string>
	<key>PROJECT_ID</key>
	<string>lyu-final</string>
	<key>STORAGE_BUCKET</key>
	<string>lyu-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521640199023:ios:b601a447eb268afbd85e9a</string>
</dict>
</plist>